* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --body-color: #e5e7eb;
    --bg-color: #3f3f46;
    --main-color: #52525b;
    --main-lighter-color: #71717a;
    --main-darker-color: #27272a;
    --red-color: #ef4444;
    --red-lighter-color: #f87171;
    --red-darker-color: #b91c1c;
    --white-color: #f4f4f5;
    --white-darker-color: #a1a1aa;
    --green-color: #84cc16;
    --green-lighter-color: #a3e635;
    --green-darker-color: #3f6212;
}

body {
    background-color: var(--body-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin: 5% auto;
    overflow: hidden;
    border-radius: 10px;
}

.history {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 1rem 1.2rem;
    background-color: var(--bg-color);
    height: 30rem;
    color: var(--white-color);
    overflow: scroll;
}

.history__line {
    display: grid;
    grid-template-columns: 8fr 1fr 3fr;
    grid-auto-rows: 4.1rem;
    font-size: 1.5rem;
    align-items: center;
}

.history__line:not(:first-child) {
    border-bottom: 1px solid var(--main-color);
}

.history__left span {
    cursor: pointer;
}

.history__center {
    color: var(--white-darker-color);
}

.history__right {
    text-align: end;
}

.wrap {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.input {
    width: 100%;
    background-color: var(--main-color);
    border-top: 1px solid var(--main-darker-color);
    border-bottom: 1px solid var(--main-darker-color);
}

.input__panel {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    background-color: transparent;
    color: var(--white-color);
    border: 0;
    caret-color: var(--red-lighter-color);
}

.input__panel:focus {
    outline: none;
}

.input__info {
    font-size: 1rem;
    padding: 0.4rem 1rem;
    color: var(--white-color);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.6rem;
    width: 100%;
    padding: 1.2rem;
    background-color: var(--bg-color);
}

.button {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: var(--white-color);
    background-color: var(--main-color);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;
    border: 2px;
    box-shadow: 0.2px 0.3px 2px var(--main-lighter-color);
}

.button:active {
    transform: scale(0.95);
    background-color: var(--main-darker-color);
}

.button:hover {
    background-color: var(--main-lighter-color);
}

.button[data-sign="="] {
    grid-column: 5;
    grid-row: 4 / -1;
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0.2px 0.3px 2px var(--green-lighter-color);
}

.button[data-sign="="]:active {
    background-color: var(--green-darker-color);
}

.button[data-sign="="]:hover {
    background-color: var(--green-lighter-color);
}

.button[data-sign="back"] {
    background-color: var(--red-color);
    box-shadow: 0.2px 0.3px 2px var(--red-lighter-color);
    font-size: 2rem;
}

.button[data-sign="back"]:active {
    background-color: var(--red-darker-color);
}

.button[data-sign="back"]:hover {
    background-color: var(--red-lighter-color);
}

@media screen and (max-width: 1700px) {
    .container {
        width: 30%;
    }
    .buttons {
        gap: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 40%;
    }
    .buttons {
        gap: 1.1rem;
    }
}

@media screen and (max-width: 900px) {
    :root {
        font-size: 56.25%;
    }
    .container {
        width: 50%;
    }
    .buttons {
        gap: 1.1rem;
    }
    .button {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 70%;
    }
    .buttons {
        gap: 1.1rem;
    }
    .button {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 50%;
    }
    .container {
        width: 70%;
    }
    .buttons {
        gap: 1.1rem;
    }
    .button {
        padding: 0.5rem 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    :root {
        font-size: 43.75%;
    }
    .container {
        width: 90%;
    }
    .buttons {
        gap: 1.1rem;
    }
    .button {
        padding: 0.5rem 1.5rem;
    }
}
